.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 15px;
}

.container .menu {
    display: flex;
    height: 90px;
    align-items: center;
}

.container .logo {
    display: flex;
    align-items: center;
    width: 200px;
    margin-left: 10px;
}

.container .logo img {
    height: 42px;
    width: 45px;
}

.container .logo h1 {
    font-weight: 800;
    font-size: 20px;
    margin-left: 3px;
}

.container .menu li a {
    margin-left: 10px;
    padding: 10px 15px;
    transition: 0.3s ease-in-out;
}

.container .menu li a:hover {
    background-color: #5BC241;
    color: #ffffff;
}

.container .menu li a.btn {
    background-color: #5BC241;
    border-radius: 10px;
    color: #ffffff;
    margin-left: 10px;
}